name: Last Commit

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update date in update.rdm
        run: |
          echo "$(date -u +'%Y-%m-%d %H:%M UTC')" > app/modules/update.rdm

      - name: Commit and push if changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'Update(bot): Updated Last Commit in update.json'
          file_pattern: 'app/modules/update.json'
