name: Update Last Commit

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-file:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update date in update.rdm
        run: |
          echo "$(date -u +'%Y-%m-%d %H:%M UTC')" > update.json

      - name: Commit and push if changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'update(bot): Automatically update date in update.json'
          file_pattern: 'update.json'
